.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #ffe3d8 30%, #fcdab7 70%);
  padding: 5%;
}

h1 {
  color: #583d72;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ff8e71;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-cover {
  max-width: 500px;
  margin: 30px auto;
}

.weather-app-content {
  padding: 20px;
  border: 0, 5px solid;
  border-radius: 5px;
  background-color: white;
  box-shadow: 30px 30px 6px 3px #583d72;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #583d72;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #583d72;
}

.weather-temperature .active {
  color: #583d72;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: #583d72;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #583d72;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

#city {
  color: #583d72;
  text-emphasis: bold;
}

.open-source {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #583d72;
  font-size: 15px;
}
